{% extends "base.html" %}
{% block body %}
<h1>Edit</h1>
<form action="edit" method="post">
	<label for="title">
		Title
	</label>
	<input type="text" name="title" id="title" /><br />
	<label for="blog">
		Blog
	</label>
	<textarea col="100" row="50" id="blog" name="blog"></textarea><br />
	<label for="tags">
		Tags
	</label>
	<input type="text" name="tags" id="tags" /><br />
	<input type="submit" />

	{% if errors %}
		{% for error in errors %}
			{{ error }}:{{ errors[error] }}<br />
		{% endfor %}
	{% endif %}

</form>
{% endblock %}