{% extends "base.html" %}
{% block body %}
<form action="edit" method="post">
	<legend>Post</legend>
	
	<div class="control-group {% if 'title' in viewmodel.errors %} error {% endif %}">
		<label for="title">
			Title 
			{% if 'title' in viewmodel.errors %}
				<span class="help-inline">*</span>
			{% endif %}
		</label>
		
		<input type="text" name="title" id="title" class="input-xlarge" 
		{% if 'title' in viewmodel.submittedValues %}
			value="{{ viewmodel.submittedValues['title'] }}" 
		{% endif %}
		/>
		
	</div>
	<div class="control-group {% if 'content' in viewmodel.errors %} error {% endif %}">
		<label for="content">
			Content
			{% if 'content' in viewmodel.errors %}
				<span class="help-inline">*</span>
			{% endif %}
		</label>
		{% if 'content' in viewmodel.submittedValues %}
			<input type="hidden" id="contentValue" value="{{ viewmodel.submittedValues['content'] }}" />
		{% endif %}

		<div class="wmd-panel">
			<div id="wmd-button-bar"></div>
			<textarea col="3" row="50" id="wmd-input" name="content" class="input-xxlarge full wmd-input"></textarea>
			<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
		</div>
	</div>
	<label for="tags">
		Tags
	</label>
	<input type="text" name="tags" id="tags" class="input-large" placeholder="leave a space between tags" /><br />
	<label class="checkbox">
		<input type="checkbox" id="archive" name="archive" value="archive" /> Archive
	</label>
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" />
	</div>
</form>

{% endblock %}
{% block sidebar %}
	<div class="well">
		<h2>Tags</h2>
		{% for tag in viewmodel.tagcloud %}
			<span class="label">{{ tag._id }}</span>
		{% endfor %}
	</div>
{% endblock %}